<html>
    <link rel="stylesheet" href="style.css">
    <body>
        <div class="header">
            <div className="logo">
                <h1 style="color: white" class="nameMain">UAirlines</h1>
                <img class="logoIcon" src="free-airplane-icon-1755-thumb.png" alt="airplane"/>
        </div>
        <div class="mainPart">            
            <div class="registrationForm">
                <div class="registration_form">
                    <div class="title">
                        Change Password
                    </div>
            
                    <form method="POST">
                        <div class="form_wrap">
                            <div class="input_wrap">
                                <label>New Password</label>
                                <input type="password" name="newPassword" id="password">
                            </div>
                            <div class="input_wrap">
                                <label>Re-type Password</label>
                                <input type="password" name="newPassword2" id="password2">
                            </div>
                            <div class="input_wrap">
                                <input type="submit" value="Change Password" class="submit_btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        <div class="footer">
            <h3 class="copyright">Copyright ©2020 UAirlines</h3>
        </div>
    </body>
</html>