<html>
    <link rel="stylesheet" href="style.css">
    <body>
        <div class="header">
            <div className="logo">
                <h1 style="color: white" class="nameMain">UAirlines</h1>
                <img class="logoIcon" src="free-airplane-icon-1755-thumb.png" alt="airplane"/>
        </div>
        <div>
            <h1 class="state"><%= state %></h1>
        </div>
    </body>
</html>