<html>
    <link rel="stylesheet" href="style.css">
    <body>
        <div class="header">
            <div className="logo">
                <h1 style="color: white" class="nameMain">UAirlines</h1>
                <img class="logoIcon" src="free-airplane-icon-1755-thumb.png" alt="airplane"/>
        </div>
        <div class="mainPart">            
            <div class="registrationForm">
                <div class="registration_form">
                    <div class="title">
                        Sign Up
                    </div>
            
                    <form method="POST">
                        <div class="form_wrap">
                            <div class="input_grp">
                                <div class="input_wrap">
                                    <label for="fname">First Name</label>
                                    <input type="text" name="firstname" id="fname">
                                </div>
                                <div class="input_wrap">
                                    <label for="lname">Last Name</label>
                                    <input type="text" name="lastname" id="lname">
                                </div>
                            </div>
                            <div class="input_wrap">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" id="email">
                            </div>
                            <div class="input_wrap">
                                <label>Password</label>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="input_wrap">
                                <label>Re-type Password</label>
                                <input type="password" name="password2" id="password2">
                            </div>
                            <div class="input_wrap">
                                <label>Card Number</label>
                                <input type="text" name="cardNumber" id="cardNumber">
                            </div>
                            <div class="input_wrap">
                                <label for="city">CVV2</label>
                                <input type="text" name="cvv" id="cvv">
                            </div>
                            <div class="input_wrap">
                                <input type="submit" value="Sign Up" class="submit_btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        <div class="footer">
            <h3 class="copyright">Copyright ©2020 UAirlines</h3>
        </div>
    </body>
</html>